.container-for-whole-calculator-page {
    font-family: "DynaPuff", system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    width: 100%;
    background-color: burlywood;
}

/* -------------- switches -------------- */
.page-switches {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 1700px;
    padding: 1%;
    margin-bottom: 0px;
    background-color: pink;
}

.toggle {
    background-color: lightgray;
}

.switch-for-day-and-night {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.form-check-input {
    background-color: rgb(11, 15, 217);
    height: 40px;
    width: 70px;
}

.math-switch-question-mark-container {
    display: flex;
    background-color: lightgreen;
}

.math-button {
    background-color: orange;
    font-weight: 900;
    border: none;
    border-radius: 12px;
    width: 130px;
    padding: 10px;
}

.question-mark-button {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}

// ----------------------------------------------------------------------
/* ------------------ whole calculator and math screen ------------------ */
// ----------------------------------------------------------------------
.whole-calculator-and-math-screen {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 300px;
    max-width: 1400px;
    height: 80vh;
}

.math-screen {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.calculator-screen {
    background-color: rgb(179, 179, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.9);
}

.calculator-screen-image {
    background-color: rgba(211, 211, 211, 0.366);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.calculator-buttons {
    background-color: lightblue;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;

    gap: 10px;
    padding: 5px 5px 15px 5px;

    width: 100%;
    height: 70%;
    
    aspect-ratio: 1/1;
}

.calculator-buttons>* {
    display: flex;
    border: 2px solid black;
    border-radius: 8px;

    font-size: 1.5rem;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.equals {
    grid-row: span 2;
    background-color: gold;
}